.box {
	margin: 3em 0;
	position: relative;
}

.input {
	outline: 0;
	border: 0;
	border-bottom: 1px solid black;
	padding: 8px 0;
	width: 100%;
}

.icon {
	position: absolute;
	right: 0;
	bottom: 8px;
}
