.box_points {
	display: flex;
	flex-direction: row;
	width: 312px;
	justify-content: center;
	align-items: center;
	padding: 24px;
	border-radius: 16px;
	margin-bottom: 40px;
	box-shadow: 0px 3px 0px 0px rgba(12, 12, 12, 0.12);
}

.titulo {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 16px;
}

.box_texto {
	max-width: 185px;
}

.desc_points {
	font-size: 16px;
	font-weight: 500;
}
