.flex {
	display: flex;
	gap: 1em;
	align-items: center;
	margin: 0.5em 0;
}

.flex svg,
.flex img,
.flex div {
	margin: 0 !important;
}
.flex div {
	font-weight: 700;
}

.flex svg,
.flex img {
	min-width: 24px;
}
