.titulo {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 30px;
}

.img {
	border-radius: 16px;
}

.desc_infos {
	font-weight: 700;
	font-size: 16px;
	margin: 10px 0;
	max-width: 270px;
}

.box {
	width: 312px;
	height: 85vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
