@keyframes logo {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: scale(1.2);
	}
}

.wrap {
	background-color: #1aa7ec;
	z-index: 99;
	min-width: 100vw !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.wrap img {
	transform: scale(0.8);
	opacity: 0;
	animation-name: logo;
	animation-delay: 0.5s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.wrap p {
	color: white;
	font-weight: 700;
	margin-bottom: 1em;
}

.box {
	background: rgba(0, 0, 0, 0.7);
	z-index: 99;
	min-width: 100vw !important;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}
.box p {
	color: #fff;
	font-weight: 500;
}

.ldsRing {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.ldsRing div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 5px solid #fff;
	border-radius: 50%;
	animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
	animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
	animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes ldsRing {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
