.loginBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 80vh;
}

.titulo {
	font-size: 24px;
	font-weight: 600;
}

.input {
	border: 0;
	outline: 0;
	border-bottom: 0.7px solid rgba(0, 0, 0, 0.7);
	display: block;
	width: 312px;
	padding: 8px 0;
	margin: 24px auto;
}

.submit {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 15px 0;
	border: 0;
	outline: 0;
	background: #1aa7ec;
	color: white;
	font-weight: 700;
	font-size: 20px;
	border-radius: 16px;
}
