.logo {
	height: 60px;
	display: flex;
}

.loginBox {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.title {
	font-size: 24px;
	font-weight: 600;
	margin: 2em 0;
}

.input {
	border: 0;
	outline: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.7);
	display: block;
	width: 350px;
	padding: 8px 0;
	margin: 30px auto;
}

.error {
	color: rgb(255, 62, 49);
	font-weight: 600;
	margin-bottom: 10px;
}
